<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset=utf-8>
    <title>ФутБОЛЕН запалянко</title>

    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/frontpage.css' %}">

</head>

<body>

<div class="navigation">
    <h1 class="logo">
        <a href="#">Фут<span>БОЛЕН</span> запал<span>янко</span></a>
    </h1>

    <nav class="nav-sidebar">
        <ul>
            <li><a href="#">Competitions</a>
                <ul>
                    <li><a href="#">First Division</a></li>
                    <li><a href="#">Second Division</a></li>
                    <li><a href="#">Cup</a></li>
                </ul>
            </li>
            <li><a href="http://127.0.0.1:8000/">Home</a></li>
            <li><a href="#">Teams</a></li>

        </ul>
    </nav>
</div>

<h2 class="motto">The Bulgarian football fan travel guide</h2>
<section class="latest_results">
    <h2 class="gameweek-results">{{ gameweek }}</h2>
    {% with counter=1 %}

        {% for current_result in results %}
            {% for match_details in current_result %}
                {% for team,goals in match_details.items %}
                    {% if forloop.parentloop.revcounter|divisibleby:2 %}
                        <br>
                        {{ team }} {{ goals }} :
                    {% else %}
                        {{ team }} {{ goals }}
                    {% endif %}

                {% endfor %}
            {% endfor %}

        {% endfor %}
    {% endwith %}

</section>


<div class="teams-dropdown">
    <form action="{% url 'team' %}" method="post" id="submitTeamFRM">
        {% csrf_token %}
        <input list="teamsDropDown" placeholder="enter team name here" name="team_name"
               autocomplete="off" form="submitTeamFRM">

        <datalist id="teamsDropDown" class="dropdown-content">

            <option value="Arda Kardzhali">
            <option value="Beroe">
            <option value="Botev Vratsa">
            <option value="Botev Plovdiv">
            <option value="Levski Sofia">
            <option value="Lokomotiv Plovdiv">
            <option value="PFC Lokomotiv Sofia 1929">
            <option value="Ludogorets Razgrad">
            <option value="Pirin Blagoevgrad">
            <option value="Septemvri Sofia">
            <option value="Slavia Sofia">
            <option value="Spartak Varna">
            <option value="Hebar">
            <option value="CSKA 1948">
            <option value="PFC CSKA-Sofia">
            <option value="Cherno More Varna">

        </datalist>

        <button type="submit" id="teamBTN" class="dropbtn">Search</button>
    </form>
</div>


</body>

</html>
