<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/team.css' %}">
    # stadium to appear as backround

    <p>Team Name: {{ team_name }}</p>
    <p>Next Fixture: {{ home }} vs {{ away }}</p>
    <p>Previous Fixture: {{ last_3_matches.0}} </p>
    <p>Last 3 games:
    <ul>
        {% for ind_match in last_3_matches %}
            {% for key,value in ind_match.items %}
                {{ key }} - {{ value }}
                {% if forloop.counter|divisibleby:2 %}
                    <br>

                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>


    <p>Stadium location: </p>
    <p>Based in: </p>


</head>
<body>

</body>
</html>