<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/team.css' %}">
    <title>{{ team_name }}</title>
    {#    # stadium to appear as background#}

</head>
<body>

<div class="navigation">
    <h1 class="logo">
        <a href="http://127.0.0.1:8000/">Фут<span>БОЛЕН</span> запал<span>янко</span></a>
    </h1>

    <nav class="nav-sidebar">
        <ul>
            <li><a href="#">Competitions</a>
                <ul>
                    <li><a href="#">First Division</a></li>
                    <li><a href="#">Second Division</a></li>
                    <li><a href="#">Cup</a></li>
                </ul>
            </li>
            <li><a href="http://127.0.0.1:8000/">Home</a></li>
            <li><a href="#">Teams</a></li>

        </ul>
    </nav>
</div>

<h1 class="team-name"><img src="{{ team_logo }}" style="vertical-align:middle" alt=""> {{ team_name }}</h1>


<h2>Next fixture:</h2>

<p class="next-home-badge"><img src="{{ home_badge }}" style="vertical-align:middle" alt=""></p>
<p class="next-home-name">{{ home }}</p>
<p class="next-away-name">{{ away }}</p>
<p class="next-away-badge"><img src="{{ away_badge }}" style="vertical-align:middle" alt=""></p>


<h2>Previous Fixture:</h2>
<ul>
    {% for key,value in last_3_matches.0.items %}
        {% if forloop.first %}
            <li class="badges"><img src="{{ previous_home_badge }}" alt=""
                                    style="vertical-align:middle"> {{ key }} {{ value }}</li>

        {% else %}
            <li class="badges"><img src="{{ previous_away_badge }}" alt=""
                                    style="vertical-align:middle"> {{ key }} {{ value }}</li>

        {% endif %}

    {% endfor %}
</ul>
<div class="last-3-games">
    <h2>Last 3 games: </h2>

    {% for ind_match in last_3_matches %}
        {% for team,goals in ind_match.items %}
            {% if forloop.counter|divisibleby:2 %}

                <p class="home-team">{{ team }}</p>
                <p class="home-goals">{{ goals }}</p>
            {% else %}
                <p class="away-team">{{ team }}</p>
                <p class="away-goals">{{ goals }}</p>
            {% endif %}


        {% endfor %}
    {% endfor %}

</div>

<p>Stadium location: {{ team_location }}, Bulgaria </p>

<div class="button">
    <form action="{% url 'travel_next_game' %}" method="post" id="travelNextGameFRM">
        {% csrf_token %}

        <button type="submit" id="travelNextGameBTN" form="travelNextGameFRM" name="team_name"
                value="{{ home }}, {{ away }}">How can I get
            to the next game?
        </button>

    </form>
</div>

</body>
</html>