<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset=utf-8>
    <title>ФутБОЛЕН запалянко</title>
    <link rel="stylesheet" href="{% static 'css/travelNextGame.css' %}">
</head>
<body>
<div class="wrapper">
    <header>
        <a href="#" class="logo">Фут<span>БОЛЕН</span> запал<span>янко</span></a>

        <nav>
            <ul>
                <li><a href="frontpage.html">Home</a></li>
                <li><a href="#">Teams</a></li>
                <li><a href="#">Competitions</a></li>

            </ul>
        </nav>
    </header>
    <section class = "hero">
        <h1></h1>

    </section>

</div>
<h2>Home:  <img src="{{ home_badge }}" alt="">  {{ home }} {{ weekday }}</h2>
<h2>Away:  <img src="{{ away_badge }}" alt="">  {{ away }} {{ match_time }}</h2>
<h3>location: {{ location }}, Bulgaria</h3>
<h3>Driving time to location: {{ distance }}</h3>

<h3>How can I get there: <a href="{{ maps }}">send location</a></h3>

<h3>Traveling by train time: soon...</h3>
<h3>Buy train tickets here: soon...</h3>

# button to send you the coordinates to a device --> google account


</body>
</html>