<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset=utf-8>
    <title>ФутБОЛЕН запалянко</title>
    <link rel="stylesheet" href="{% static 'css/travelNextGame.css' %}">
</head>
<body>
<div class="navigation">
    <h1 class="logo">
        <a href="#">Фут<span>БОЛЕН</span> запал<span>янко</span></a>
    </h1>

    <nav class="nav-sidebar">
        <ul>
            <li><a href="#">Competitions</a>
                <ul>
                    <li><a href="#">First Division</a></li>
                    <li><a href="#">Second Division</a></li>
                    <li><a href="#">Cup</a></li>
                </ul>
            </li>
            <li><a href="http://127.0.0.1:8000/">Home</a></li>
            <li><a href="#">Teams</a></li>

        </ul>
    </nav>
</div>
<h2>Home: <img src="{{ home_badge }}" style="vertical-align:middle" alt=""> {{ home }} </h2>
<h2>Away: <img src="{{ away_badge }}" style="vertical-align:middle" alt=""> {{ away }} </h2>
<div class="match-time">
    <h2>{{ weekday }}</h2>
    <h2>{{ game_time }}</h2>
</div>
<h3>location: {{ location }}, Bulgaria</h3>
<h3>Driving time to location: {{ distance }}</h3>

<h3>How can I get there: <a href="{{ maps }}">locate stadium</a></h3>

<h3>Traveling by train time: soon...</h3>
<h3>Buy train tickets here: soon...</h3>

# button to send you the coordinates to a device --> google account


</body>
</html>