body {
    background-color: green;
    font-size: 10px;
}

h1{
    text-align: center;

}

.latest_results{
    text-align: center;
    background-color: green;
    justify-content: space-evenly;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}


.container{
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: green;
    display: flex;
    align-items: center;


}
form{
    background-color: white;
    width:500px;
    height: 35px;
    display: flex;
}
form input{
    flex:1;
    border:none;
    outline:none;
}
form button{
    background: darkorange;
    padding: 10px;
    border: none;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
}

li{

    right: 0;
}
