body {
    background-color: green;
    display: grid;
}

h1 {
    text-align: left;
}
.motto {
    margin-top: 150px;
    text-align: center;
    font-style: italic;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.gameweek-results {
    font-style: oblique;
}

.latest_results {
    /* ':' must be centered */

    text-align: center;
    justify-content: space-evenly;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}


.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    /*background-color: green;*/
    display: flex;
    align-items: center;


}

form {
    margin-top: 50px;
    width: 500px;
    height: 35px;
    display: flex;

}

form input {
    flex: 1;
    border: none;
    outline: none;
}

form button {
    background: darkorange;
    padding: 10px;
    border: none;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.nav-sidebar {
    float: right;
    padding: 10px;
    /*background-color: white;*/
}

.nav-sidebar ul{
    padding: 10px;
    float: right;
    list-style: none;
}

.nav-sidebar ul li {
    padding: 20px;
    float: right;
    list-style: none;
    /*background-color: blue;*/
    position: relative;
}

.nav-sidebar ul li a {
    text-decoration: none;
    /*background-color: orangered;*/
    display: block;
}

.nav-sidebar ul li ul {
    position: absolute;
    display: none;


}

.nav-sidebar ul li:hover ul{
    display: block;
}

.nav-sidebar ul li ul li {

    width:90px;
    /*background-color: wheat;*/
}


.nav-sidebar ul li ul li a:hover{
    background-color: #f3f3f3;
}
