body{
    background-color: green;

}

.team-name{

}

.p{
    /*you need to somehow include images in here (small logo images)*/
}


.button{
    color: orange;
    font-family: Century, serif;
}

.button:hover{
    color: darkorange;
}
